<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">./Drift</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
