<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">Drift/</directory>
        </testsuite>

        <!--
        Skip the yaml tests on Travis as the Yaml extension is not loaded
        -->
        <testsuite name="Travis">
            <directory suffix="Test.php">Drift/</directory>
            <exclude>Drift/Reader/YamlReaderTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../build/report/coverage-html" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
</phpunit>
